llama-index 
llama-index-embeddings-huggingface 
nest-asyncio 
llama-index-embeddings-fastembed 
fastembed 
llama-index-vector-stores-faiss
gradio
faiss-cpu
pandas
llama-index-llms-openrouter
llama-index-embeddings-huggingface
python-docx
openpyxl
markdown
fastapi
uvicorn
python-dotenv
pydantic
python-multipart